{% extends 'games/base.html' %}
{% block title %}Oferta de juegos{% endblock %}
{% load staticfiles %}

{% block body %}
    <div class="col-md-12">
        {% if message %}
            <div class="container">
                <div class="col-md-6 col-md-offset-3  alert alert-success">
                    <strong>Mensaje: </strong> {{ message }} <a style="float: right;" href="{% url 'games:game_view' game_id %}">Ver <i class="fa fa-eye"></i></a>
                </div>
            </div>
        {% endif %}
        <div class="col-md-6">
            <div>
                <form style="padding-bottom: 4%;" class="form-horizontal" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input input-group col-md-12">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input id="query" name="query" class="form-control" placeholder="Buscar juego ...">
                            <input type="hidden" id="action" name="action" value="search">
                        </div>
                    </div>
                    <button class="btn btn-success center-block" type="submit">Buscar <i class="fa fa-search"></i></button>
                </form>
                <table class="table">
                    <tbody >
                        {% for  key, value in possible_games.items %}
                        <tr>
                            {% if value.cover != None %}
                                <td><img src="https://{{ value.cover }}"> {{ value.name }}
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" id="game_id" name="game_id" value="{{ value.id }}">
                                        <input type="hidden" id="action" name="action" value="add">
                                        <button class="btn btn-success center-block" type="submit"><i style="float: right;" class="fa fa-plus"></i></button>
                                    </form>
                                </td>
                            {% else %}
                                <td><img src="https://images.sftcdn.net/images/t_optimized,f_auto/p/0865681a-9b6e-11e6-a0ce-00163ed833e7/3496518643/free-disc-burner-logo.png"> {{ value.name }}
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" id="game_id" name="game_id" value="{{ value.id }}">
                                        <input type="hidden" id="action" name="action" value="add">
                                        <button class="btn btn-success center-block" type="submit"><i style="float: right;" class="fa fa-plus"></i></button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        {% if not_found %}
                        <tr>
                            <td>
                                Sigues sin encontrar el juego ? <a href="{% url 'games:contact' %}"><strong>Contactanos</strong></a>
                                 para agregarlo manualmente.
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-8">

        </div>
    </div>
{% endblock %}

