{% extends 'games/base.html' %}
{% block title %}Detalle intercambio{% endblock %}

{% block body %}
{% load staticfiles %}

{% if error_message %}
    <div style="text-align: center" class=" col-md-8 col-md-offset-2 alert alert-danger">
            {{ error_message }}
    </div>
{% else %}

    <div style="text-align: center  " class=" col-md-8 col-md-offset-2 jumbotron">
        <h2>Informacion del cambio:</h2>
        <div class="col-md-6">
            {% if exchange.creator.picture == "None" %}
                <img class="thumbnail-sm center-block" src="{% static 'games/img/default-user.png' %}">
            {% else %}
                <img class="thumbnail-sm center-block" src="{{ exchange.creator.picture }}">
            {% endif %}
            <p>{{ exchange.creator }}</p>
            {% if exchange.accepted == True and exchange.exchange_state != 2 %}
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h3 class="panel-title">Contacto</h3>
                  </div>
                  <div class="panel-body">
                    <h5><i class="fa fa-whatsapp"> {{ exchange.creator.phone }}</i></h5>
                    <h5><i class="fa fa-envelope-o"> {{ exchange.creator.user.email}}</i></h5>
                  </div>
                </div>
            {% endif %}
            <p><a href="{% url 'games:game_view' exchange.game_creator.id %}">{{ exchange.game_creator }}</a></p>
            ({{ exchange.creator.city }})
            {% if exchange.game_creator.cover == "None" %}
                <img class="game_cover_exchange center-block" src="{% static 'games/img/temp_cover.png' %}">
            {% else %}
                <img class="game_cover_exchange center-block" src="{{ exchange.game_creator.cover }}">
            {% endif %}
        </div>
        <div class="col-md-6">
            {% if exchange.guest.picture == "None" %}
                <img class="thumbnail-sm center-block" src="{% static 'games/img/default-user.png' %}">
            {% else %}
                <img class="thumbnail-sm center-block" src="{{ exchange.guest.picture }}">
            {% endif %}
            <p>{{ exchange.guest}}</p>
            {% if exchange.accepted == True and exchange.exchange_state != 2%}
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h3 class="panel-title">Contacto</h3>
                  </div>
                  <div class="panel-body">
                    <h5><i class="fa fa-whatsapp"> {{ exchange.guest.phone }}</i></h5>
                    <h5><i class="fa fa-envelope-o"> {{ exchange.guest.user.email}}</i></h5>
                  </div>
                </div>
            {% endif %}
            <p><a href="{% url 'games:game_view' exchange.game_guest.id %}">{{ exchange.game_guest }}</a></p>
            ({{ exchange.guest.city }})
            {% if exchange.game_guest.cover == "None" %}
                <img class="game_cover_exchange center-block" src="{% static 'games/img/temp_cover.png' %}">
            {% else %}
                <img class="game_cover_exchange center-block" src="{{ exchange.game_guest.cover }}">
            {% endif %}
        </div>
        <div class="col-md-10 col-md-offset-1">
            <p>
            <b>Estatus:</b>
            {% if exchange.exchange_state == 0 %}
                {% if exchange.accepted == True %}
                    En proceso <i class="fa fa-hourglass-half"></i> - Aceptado <i class="fa fa-thumbs-o-up"></i>
                {% else %}
                    En proceso <i class="fa fa-hourglass-half"></i> - Esperando aceptacion <i class="fa fa-clock-o"></i>
                {% endif %}
            {% elif exchange.exchange_state == 1 %}
                Completado <i class="fa fa-check"></i>
            {% else %}
                No Completado <i class="fa fa-times"></i>
            {% endif %}
            </p>
            {% if request.user.id == exchange.guest.user.id %}
                {% if  exchange.exchange_state == 0 %}
                    {% if exchange.accepted == True %}
                        <p>Como termino el intercambio ? </p>
                        <div class="col-md-6">
                            <form style="padding-bottom: 10px" method="post">
                             {% csrf_token %}
                                <input type="hidden" name="state" value="1">
                                <button type="submit" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <div class="col-md-6">
                             <form method="post">
                            {% csrf_token %}
                                <input type="hidden" name="state" value="2">
                                <button type="submit" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    {% else %}
                        <p>Aceptas el intercambio ? </p>
                        <div class="col-md-6">
                            <form style="padding-bottom: 10px" method="post">
                             {% csrf_token %}
                                <input type="hidden" name="accept" value="1">
                                <button type="submit" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <div class="col-md-6">
                             <form method="post">
                            {% csrf_token %}
                                <input type="hidden" name="accept" value="2">
                                <button type="submit" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    {% endif %}
                {% endif %}
                {% if message %}
                    <div style="text-align: center" class=" col-md-8 col-md-offset-2 alert alert-success">
                        {{ message }}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endif %}

{% endblock %}

