{% extends 'games/base.html' %}
{% block title %}Game Ranks{% endblock %}
{% load staticfiles %}

{% block body %}
    <body>
    <div class="col-md-10  col-md-offset-1">

        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title" style="text-align: center">
                Top 10 juegos de este año <i class="fa fa-trophy" aria-hidden="true"></i>
            </h3>
          </div>
          <table class="table table-striped  ">
              <thead>
              <tr>
                <th>Juego</th>
                <th>Puntuación</th>
              </tr>
              </thead>
              {% for game in  top_10_games %}
              <tbody>
              <tr>
                <td><a href="{% url 'games:game_view' game.id %}">{{ game.name }}</a></td>
                  <td>{{ game.rating|floatformat }}</td>
              </tr>
              </tbody>
              {% endfor %}
          </table>
        </div>
    </div>
    </body>
{% endblock %}

{% block footer %}
    <script src="{% static "games/js/gameranks.js" %}"></script>
{% endblock %}
