{% extends 'games/base.html' %}
{% block title %}Oferta de juegos{% endblock %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static "games/css/chosen.min.css" %}">
    <script src="{% static "games/js/chosen.jquery.min.js" %}"></script>
{% endblock %}

{% block body %}
    <div class="col-md-12">
        {% if error_message %}
            <div class="container">
                <div class="col-md-6 col-md-offset-3  alert alert-danger">
                    <strong>Error!</strong> {{ error_message }}
                </div>
            </div>
        {% endif %}
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="form-group" style="text-align: center">
                    <h4 style="color:#acdfb8;">Juego(s) a ofrecer</h4>
                    {{ owned_form }}
                    <h4 style="color:#acdfb8;">Juego(s) que quiero</h4>
                    {{ wanted_form }}
                </div>
                <button class="btn btn-success center-block" type="submit">
                    Intercambiar <i class="fa fa-handshake-o" aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <script src="{% static "games/js/chosen.js" %}"></script>
{% endblock %}
